ol li {
    background: yellow;
}

ol li:nth-of-type(even){
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

h2, h3 {
    color: red;
}

h1 em, h2 em {
    color: red;
    border: 1px solid black;    
}

li em {
    font-weight: bold;
}

li {
    font-size: 20px;
}
.corderosa {
    width: 35px;
    background-color: pink;
}

#linguagens li:not(:nth-child(n+4)) {
    color: blue;
}

#aliados li a:hover {
    font-weight: bold;
}

#aliado li a[href*="stackoverflow"] {
    color: orange;
}

#aliado li a[href*="W3Schools"] {
    color: green;
}

#aliado li a[href*="MDN Web Docs"] {
    color: orange;
}

#aliado li a[href*="DevDocs"] {
    color: grey;
}

#aliado li a[href*="Trybe"] {
    color: darkgreen;
}